.App {
  text-align: center;
  font-family: "Lato";
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Lato";
}

*:focus {
  outline: none;
  border: "12px solid #a3adce";
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: local("Lato"),
    url(./fonts/lato-v14-latin-700.7fbbfd1610770d594aef.woff2)
      format("opentype");
}

@font-face {
  font-family: "Lato";
  src: local("Lato"),
    url(./fonts/lato-v14-latin-regular.f1a4a058fbba1e35a406.woff2)
      format("opentype");
}

/* input:focus {
  box-shadow: 0 0 5px #4d61fc !important;
  outline: none !important;
} */
